{
  "extends": [
    "@strv/javascript/environments/nodejs/v8-3",
    "@strv/javascript/environments/nodejs/optional",
    "@strv/javascript/coding-styles/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "consistent-return": 0,
    "id-length": 0,
    "no-mixed-operators": 0,
    "max-params": 0,
    "valid-jsdoc": 0,
    "no-inline-comments": 0
  }
}
